#addSkillsMenu{
  border: 1px solid lightgrey;
  width: fit-content;
  
  .addSkillsMenuItem{
    
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    
    cursor: pointer;
    
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: lightgrey;
    }
  }
}

#addSkillsTags{
  margin-top: 15px;
  display: inline-block;
  margin-right: 10px;
}