<div style="margin: 20px;">
  <h3>Ajouter vos compétences</h3>
  <br />
  <input
    pInputText
    type="text"
    placeholder="Java, JavaScript, Php ..."
    [(ngModel)]="inputSkill"
    (ngModelChange)="onChange($event)"
  >
  <div id="addSkillsMenu" *ngIf="results">
    <!-- $event: correspond à l'objet html -->
    <div *ngFor="let item of results"
      class="addSkillsMenuItem"

      (click)="onSelect($event, item.id)"
    >
      {{item.name}}
    </div>
  </div>

  <div id="addSkillsMenu" *ngIf="results">
    <div *ngIf="inputSkill.length !== 0 && canAddSkill"
      class="addSkillsMenuItem"
      (click)="addSkill($event)"
    >
      <span style="color: grey">Ajouter...
        <span style="color: black">{{inputSkill}}</span>
      </span>
    </div>
  </div>

  <div id="addSkillsTags" *ngFor="let item of inductionSkills">
    <button
      pButton
      type="button"
      label="{{item.name}} x"
      class="ui-button-rounded ui-button-secondary"
      (click)="onRemoveSkill($event, item.id)"
      >
    </button>
  </div>

    <button
      *ngIf="inductionSkills.length !== 0"
      style="margin-top: 20px; display: block"
      pButton
      type="button"
      label="Estimer ses compétences"
      routerLink="/level"
      (click)="onSubmit()"
    >
    </button>
    <button
      *ngIf="inductionSkills.length !== 0"
      style="margin-top: 20px; display: block"
      pButton
      type="button"
      label="Tester ses compétences"
      routerLink="/selectTest"
      (click)="onSubmit()"
    >
    </button>

</div>
