#header {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 40px;
  padding: 5px;
  border-bottom: lightgrey 1px solid;
  
}
#header-left {
  display: inline-block;
  width: 18%;
  margin-left: 2%;
  cursor: pointer;
  color: #F9BA00;
  font-size: large;
  // Pour enlever le 'border' bleu après avoir cliqué dessus
  &:focus {
    outline: 0;
  }
}
#header-middle {
  display: inline-block;
  width: 60%;
}
#header-right {
  display: inline-block;
  width: 18%;
  text-align: right;
  margin-right: 2%;
  cursor: pointer;
}
#header-menu {
  position: relative;
  float: right;
  width: 160px;
  border: 1px solid lightgrey;
  background-color: white;
  z-index: 1;
}

#header-menu-sub {
  padding: 5px;
}

#header-menu-line {
  border-bottom: 1px solid lightgrey;
}