<div id="header">
  <div id="header-left" routerLink="/"><b>LevelTek</b></div>
  <div id="header-middle"></div>
  <div (click)="toggleMenu()" id="header-right">
    <fa-icon [icon]="faUser" [styles]="{'color': 'grey'}"></fa-icon>
    <div *ngIf='menuClosed === true' id="header-menu">
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()==false" routerLink="/addskills">Je suis développeur</div>
      <div id="header-menu-line" *ngIf="auth.isLoggedIn()==false" ></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()==false" routerLink="/rh" >Je suis recruteur</div>
      <div id="header-menu-line" *ngIf="auth.isLoggedIn()==false"></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()==false" routerLink="/subscribe" >S'inscrire</div>
      <div id="header-menu-line" *ngIf="auth.isLoggedIn()==false"></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()==false" routerLink="/home" >Se connecter</div>
      <div id="header-menu-line " *ngIf="auth.isLoggedIn()==false"></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()"  routerLink="/profil" >Profil</div>
      <div id="header-menu-line" *ngIf="auth.isLoggedIn()"></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()"  routerLink="/devmain" >Competences</div>
      <div id="header-menu-line" *ngIf="auth.isLoggedIn()"></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()"  routerLink="/qcm" >Qcm</div>
      <div id="header-menu-line" *ngIf="auth.isLoggedIn()"></div>
      <div id="header-menu-sub" *ngIf="auth.isLoggedIn()" (click)="auth.logoutSpring()" routerLink="/" >Se Deconnecter</div>

    </div>
  </div>
</div>

