<div style="margin: 20px;">
  <h3>Quelles compétences recherchez-vous ?</h3>
  <br />

<ng-multiselect-dropdown
  [placeholder]="Choose"
  [data]="dropdownList"
  [(ngModel)]="selectedSkills"
  [settings]="dropdownSettings"
  (onSelect)="onSelect($event)"
  (onDeSelect)="onDeSelect($event)"

>
</ng-multiselect-dropdown>

<br>

<div class=levelBox *ngFor="let item of mapSkills | keyvalue">
  <div class=levelBoxLeft>
    <button
      pButton
      type="button"
      label="{{item.value.name}}"
      class="ui-button-rounded ui-button-secondary"
      >
    </button>
  </div>
<br>
  <div class=levelBoxRight>
    <p-slider
      [(ngModel)]="item.value.level"
      [style]="{'width':'100%'}"
      [step]="1"
      [min]="1"
      [max]="10"
      (onChange)="handleChange($event, item.value.id)"
    ></p-slider>
    <div style="margin-top: 10px">À titre indicatif : Niveau {{item.value.level}} : {{niveaux[item.value.level - 1]}}</div>
  </div>
</div>

<br>
<br>
<br>
  <div class=levelBox *ngFor="let user of usersSearch; let i= index;">
      <div *ngIf="isCompany(user.id)">
        <span [ngStyle]="{'font-weight': 'bold'}" > {{user.firstName}} {{user.lastName}} </span><br>
          {{user.mail}}
      </div>
      <div *ngIf="!isCompany(user.id)">
          Profil {{i+1}}
      </div>
    <br>
    <div class=levelBoxLeft >
        <button *ngFor="let userSkill of user.userSkills"
          pButton
          type="button"
          label="{{userSkill.id.skill.name}} ({{userSkill.score}})"
          class="ui-button-rounded ui-button-secondary"
          >

        </button>

      </div>

      <div *ngIf="!isCompany(user.id)">
        <button
        (click)="loadUser(user.id)"
        style="margin-top: 20px; display: block"
        pButton
        type="button"
        label="Afficher le profil"
        >
        </button>
     </div>

      <hr/>
  </div>

  <p-dialog header="Identification requise" [(visible)]="display" [style]="{width: '30%', height: '30%'}">
      Pour afficher le profil il est nécessaire de s'inscrire
      <p-footer>
          <button
        style="margin-top: 20px; display: block"
        pButton
        type="button"
        label="S'inscrire"
        routerLink="/subscribe"
        >
        </button>
        <button
        style="margin-top: 20px; display: block"
        pButton
        type="button"
        label="Se connecter"
        routerLink="/home"
        >
        </button>
      </p-footer>
  </p-dialog>

</div>

