#addSkillsMenu{
  border: 1px solid lightgrey;
  width: fit-content;

  .addSkillsMenuItem{

    padding: 5px;
    border-bottom: 1px solid lightgrey;

    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: lightgrey;
    }
  }
}

#addSkillsTags{
  margin-top: 15px;
  display: inline-block;
  margin-right: 10px;
}

:host ::ng-deep .ui-multiselected-item-token,
        :host ::ng-deep .ui-multiselected-empty-token {
            padding: 2px 4px;
            margin: 0 0.286em 0 0;
            display: inline-block;
            vertical-align:middle;
            height: 1.857em;
        }

        :host ::ng-deep .ui-multiselected-item-token {
            background: #007ad9;
            color: #ffffff;
        }

        :host ::ng-deep .ui-multiselected-empty-token {
            background: #d95f00;
            color: #ffffff;
        }
