<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page</title>
    <!-- lien pour la biblio boostrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <!-- on commence le codage ici-->

  <body>
    <!-- page de login -->

    <h1 class="p-3 mb-2 bg-dark text-white">Bienvenu sur LevelTek</h1>
    <h2>Se connecter</h2>

    <!-- formulaire Login et password -->
    <form #authenticate="ngForm" (ngSubmit)="loginSpring()">
      <div class="form-group">
        <label for="login"><b>Login </b></label>
        <input
          [(ngModel)]="client.login"
          id="login"
          name="login"
          type="login"
          placeholder="Login"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><b>Password </b></label>
        <input
          [(ngModel)]="client.password"
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          class="form-control"
        />
      </div>
      <label>
        <input id="check" type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
      <div class="form-group form-check">

        <div>
              <button type="submit" class="btn btn-primary">Se connecter</button><br/>
        </div>
        <div>
           <span class="psw">Forgot my <a href="#">password?</a></span>
        </div>



      </div>
    </form>
  </body>
</html>
