h1 {
  text-align: center;
}
h2{
  text-align: center;
}
.p-3 mb-2 bg-dark text-white {
  width: 100%;
  min-height: 100vh;
}

.btn{
text-align: center;
}

#check{
  margin-top: 30px;

}

.form-group {
  
  min-height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}
