<div style="text-align:left;width:500px;" *ngIf="qcm">
    <form (ngSubmit)="onSubmit()">
      <h1>
          {{qcm.name}}
      </h1>

          <div >
              <div *ngFor="let qu of qcm.questions">
                  <label>{{qu.number}} ) {{qu.libelle}}</label>

                  <div *ngFor="let que of qu.answers">
                      <input [(ngModel)]="radioData" [value]="que.number" type="radio" id="answer" name="answer" value="{{que.number}}" checked>
                      <label for="answer"> {{que.libelle}} </label>
                  </div>
              </div>
              <button type="submit" class="btn btn-info">Submit</button>
          </div>
    </form>
  </div>
