<h3>Inscrivez-vous pour découvrir votre score</h3>
<div class="container-fluid">
  <form id="formDev" (ngSubmit)="onSubmit()" #userForm="ngForm" >
    <div class="form-group">
      <label for="inputFullname"><b>Votre prénom pseudo</b></label>
      <input type="text" class="form-control" id="inputFullname" placeholder="John Doe" [(ngModel)]="user.login" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="inputCity"><b>Votre ville</b></label>
        <input type="text" class="form-control" id="inputCity" placeholder="Paris, New-york ..." [(ngModel)]="user.city" [ngModelOptions]="{standalone: true}">
      </div>
    <div class="form-group">
      <label for="inputEmail"><b>Votre adresse email</b></label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="john-doe@gmail.com" [(ngModel)]="user.mail" [ngModelOptions]="{standalone: true}">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="inputPass"><b>Votre mot de passe</b></label>
      <input type="password" class="form-control" id="inputPass" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-check" style="margin: 20px 0px;">
      <input [(ngModel)]="user.lookingForWork" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input" id="inputLookingForWork">
      <label class="form-check-label" for="inputLookingForWork">Êtes-vous en recherche active d'un emploi ?</label>
    </div>
    <button type="submit" class="btn btn-primary" >S'inscrire</button>
  </form>
</div>
