<div id="home-section1">
    <div id="home-section1-filter">
      <div id="home-section1-title">Je suis développeur en informatique</div>
      <div id="home-section1-subtitle">Je découvre mon potentiel marché en 2 minutes</div>
      <div id="home-section1-button">
        <a routerLink="/addskills">
          <button pButton type="button" label="C'est parti !" class="ui-button-raised ui-button-warning"></button>
        </a>
      </div>
    </div>
  </div>
  
  <div id="home-section2">
    <div id="home-section2-filter">
    <div id="home-section2-title">Je suis recruteur</div>
    <div id="home-section2-subtitle">Je trouve des talents en 2 clicks</div>
    <div id="home-section2-button">
      <a routerLink="/rh">
        <button pButton type="button" label="Je veux bien tester" class="ui-button-raised ui-button-warning"></button>
      </a>
    </div>
  </div>
  
