#home-section1{
  height: 250px;
  background-image: url("assets/images/developer.jpg");
  background-position:center center;
  text-align: center;
  background-size: cover;
}

#home-section1-filter {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
}

#home-section1-title{
  color: white;
  font-size: x-large;
  text-shadow: 2px 2px black;
  padding-top: 30px;

}
#home-section1-subtitle{
  color: white;
  font-size: large;
  text-shadow: 2px 2px black;
  padding-top: 6px;
}

#home-section1-button {
  margin-top: 20px;
}

#home-section2 {
  height: 250px;
  background-image: url("assets/images/talents.jpg");
  background-position:center center;
  text-align: center;
  background-size: cover;
}

#home-section2-filter {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
}

#home-section2-title{
  color: white;
  font-size: x-large;
  text-shadow: 2px 2px black;
  padding-top: 30px;

}
#home-section2-subtitle{
  color: white;
  font-size: large;
  text-shadow: 2px 2px black;
  padding-top: 6px;
}

#home-section2-button {
  margin-top: 20px;
}
