.levelContainer{
  text-align: center;
}

body .ui-button.ui-button-rounded {
  margin-right: 5px;
}

#boxbox {
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

.levelBox {
  margin-top: 10px;
}

