
<div class=levelContainer  *ngIf="user">
  <h3 style="margin: 20px 0px;"><b>Votre Score : {{user.totalScore}}</b></h3>
  <p-button label="Voir le classement" routerLink="/rank"></p-button>

  <br><br>
  <div>
        <button class=levelBoxLeft  *ngFor="let userSkill of user.userSkills"
          style="margin:0px 5px;"
          pButton
          type="button"
          label="{{userSkill.id.skill.name}} ({{userSkill.score}})"
          class="ui-button-rounded ui-button-secondary"
          >

        </button>
    <p-button style="margin:0px 5px;" label="Ajouter/Modifier ses compétences" (click)="updatingSkill()"></p-button>
  </div>
</div>

<div id="boxbox" *ngIf="isUpdatingSkill==true">

  <ng-multiselect-dropdown
  [placeholder]="Choose"
  [data]="dropdownList"
  [(ngModel)]="selectedSkills"
  [settings]="dropdownSettings"
  (onSelect)="onSelect($event)"
  (onDeSelect)="onDeSelect($event)"

  >
  </ng-multiselect-dropdown>

  <div class=levelBox *ngFor="let item of mapSkills | keyvalue">
    <div class=levelBoxLeft>
      <button
        pButton
        type="button"
        label="{{item.value.name}}"
        class="ui-button-rounded ui-button-secondary"
        >
      </button>
    </div>
  <br>
    <div class=levelBoxRight>
      <p-slider
        [(ngModel)]="item.value.level"
        [style]="{'width':'100%'}"
        [step]="1"
        [min]="1"
        [max]="10"
        (onChange)="handleChange($event, item.value.id)"
      ></p-slider>
      <div style="margin-top: 10px">À titre indicatif : Niveau {{item.value.level}} : {{niveaux[item.value.level - 1]}}</div>
    </div>
  </div>

  <br><br>

  <p-button label="Sauvegarder" (click)="saveChangesSkill()"></p-button>

</div>
