<div class="card my-5">
  <div class="card-body">
    <form id="formSubsc" (ngSubmit)="onSubmit()" #clientForm="ngForm">

      <div class="form-group">
        <label for="usertype"><b>Libelle</b></label>
        <select type="text"
          class="form-control" id="usertype" name="usertype" placeholder="Enter your usertype " [(ngModel)]="usertype">
            <option  value="Developper">Developper</option>
            <option  value="Company">Company</option>
        </select>
      </div>

      <div class="form-group">
            <label for="login"><b>Login</b></label>
            <input type="text" [(ngModel)]="client.username"
              class="form-control" id="login" name="login" placeholder="Enter your login "
              required #login="ngModel">
      </div>

      <div class="form-group">
          <label for="password"><b>Password</b></label>
          <input type="text" [(ngModel)]="client.password"
            class="form-control" id="password" name="password" placeholder="Enter your password "
            required #password="ngModel">
      </div>

      <div class="form-group">
        <label for="mail"><b>Mail</b></label>
        <input type="text" [(ngModel)]="client.email"
          class="form-control" id="mail" name="mail" placeholder="Enter your mail"
          required #mail="ngModel">
      </div>

      <div class="form-group">
        <label for="city"><b>City</b></label>
        <input type="text" [(ngModel)]="client.ville"
          class="form-control" id="city" name="city" placeholder="Enter your city address"
          required #city="ngModel">
      </div>

      <div [hidden]="usertype=='Developper'">


        <div class="form-group">
            <label for="name"><b>Company Name</b></label>
            <input type="text" [(ngModel)]="client.name"
              class="form-control" id="name" name="name" placeholder="Enter your name "
              required #name="ngModel">
        </div>
      </div>



      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
