<app-header></app-header>
<router-outlet></router-outlet>
 
<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a  *ngIf="auth.isLoggedIn()==false" routerLink="/home" class="btn btn-info">Log In</a></li>
            <li class="list-inline-item"><a  *ngIf="auth.isLoggedIn()==false" routerLink="/subscribe" class="btn btn-info">Subscribe</a></li>
            <li class="list-inline-item"><a *ngIf="auth.isLoggedIn()" routerLink="/profile" class="btn btn-info">Profile</a></li>
            <li class="list-inline-item"><a *ngIf="auth.isLoggedIn()" routerLink="/qcm" class="btn btn-info">Qcm</a></li>
            <li class="list-inline-item"><a *ngIf="auth.isLoggedIn()" (click)="auth.logout()" class="btn btn-info">Se déconnecter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
-->
