
<div class="card my-5" *ngIf="user">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Password</th>
          <th scope="col">Adresse</th>
          <th scope="col">Cp</th>
          <th scope="col">Ville</th>
          <div *ngIf="user.firstName">
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Date de Naissance</th>
            <th scope="col">Score Total</th>
          </div>
          <div *ngIf="user.name">
            <th scope="col">Num Siret</th>
            <th scope="col">Nom</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.adress }}</td>
          <td>{{ user.cp }}</td>
          <td>{{ user.city }}</td>
          <div *ngIf="user.firstName">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.dateDeNaissance }}</td>
            <td>{{ user.totalScore }}</td>
          </div>
          <div *ngIf="user.name">
            <td>{{ user.siretNum }}</td>
            <td>{{ user.name }}</td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
