<div class="test">
  <p>
  <b>Prêt à commencer le test en :</b>
 </p>

      <div>
    <button type="submit" id="ja">{{skill}}</button>
  </div>

  <div>
    <button type="submit" id="déb" [routerLink]="['/devsignup']" routerLinkActive="router-link-active">Débutant</button>
  </div>

  <div>
    <button type="submit" id="int" [routerLink]="['/devsignup']" routerLinkActive="router-link-active">Intermédiaire</button>
  </div>

  <div>
    <button type="submit" id="ex" [routerLink]="['/devsignup']" routerLinkActive="router-link-active">Expert</button>
  </div>
 </div>
 <button type="submit" id="annu" [routerLink]="['/selectTest']" routerLinkActive="router-link-active" >Annuler</button>
