.test{
  width: 200px;
  margin:auto;
  margin-top:100px;
}
#ja{
  width: 90px;
  margin-right: 20px;
  margin-left: 35px;
  padding: 5px;
}
#déb{
  width: 120px;
  margin-right: 20px;
  margin-left: 20px;
  background-color:blue;
  margin-top:10px;
  padding: 5px;
}
#int{
  width: 120px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: blue;
  margin-top:10px;
  padding: 5px;
}

#ex{
  width: 120px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: blue;
  margin-top:10px;
  padding: 5px;
}

#annu{
  width: 120px;
  margin-right: 20px;
  margin-left: 20px;
  color: blue;
  margin-top:10px;
  padding: 5px;

}

