.select{
  width: 500px;
  margin:auto;
  margin-top:150px;
}
#java{
  width: 120px;
  margin-left: 150px;
}
#ret{
  width: 120px;
  margin-right: 20px;
  margin-left: 20px;
  color: blue;
  margin-top:10px;
  padding: 5px;
}
