 <div class="select">
 <p>
 <b>Sélectionner une compétence pour commencer un test</b>
</p>
<div *ngFor="let skill of inducSkills">
<div>
<button type="submit" id="java" [routerLink]="['/testDev']" routerLinkActive="router-link-active" (click)="onSelectionne($event,skill.name)"> {{skill.name}}</button>
<p></p>
</div>
</div>
</div>
<button type="submit" id="ret" [routerLink]="['/addskills']" routerLinkActive="router-link-active" >Retour</button>
