<div id="updateProfileContainer">
  <form id="formSubsc" (ngSubmit)="onSubmit()" #clientForm="ngForm">

    <div class="form-group">
      <label for="login"><b>Nom d'utilisateur</b></label>
      <input
        type="text"
        [(ngModel)]="user.login"
        class="form-control"
        id="login"
        name="login"
        aria-describedby="loginHelp"
        placeholder="Enter your login "
        required #login="ngModel">
      <small id="loginHelp" class="form-text text-muted">Login ou Nom d'utilisateur ou Prénom et Nom (Affiché publiquement)</small>
    </div>

    <div class="form-group">
      <label for="mail"><b>Email</b></label>
      <input type="text" [(ngModel)]="user.mail"
      class="form-control" id="mail" name="mail" placeholder="Enter your mail"
      required #mail="ngModel">
    </div>

    <div class="form-group">
      <label for="adress"><b>Adresse</b></label>
      <input type="text" [(ngModel)]="user.adress"
      class="form-control" id="adress" name="adress" placeholder="Enter your adress address"
      required #adress="ngModel">
    </div>

    <div *ngIf="user.roles[0].name === 'ROLE_DEV'" class="form-group">
      <label for="city"><b>Ville</b></label>
      <input type="text" [(ngModel)]="user.city"
      class="form-control" id="city" name="city" placeholder="Enter your city address"
      required #city="ngModel">
    </div>

    <div *ngIf="user.roles[0].name === 'ROLE_DEV'" class="form-check" style="margin: 20px 0px;">
      <input [(ngModel)]="user.lookingForWork" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input" id="inputLookingForWork">
      <label class="form-check-label" for="inputLookingForWork">Êtes-vous en recherche active d'un emploi ?</label>
    </div>

    <div *ngIf="user.roles[0].name === 'ROLE_RH'" >
      <div class="form-group">
        <label for="siretNum"><b>SiretNum</b></label>
        <input siretNum="text" [(ngModel)]="user.siretNum"
        class="form-control" id="siretNum" name="siretNum" placeholder="Enter your siretNum address"
        required #siretNum="ngModel">
      </div>

      <div *ngIf="user.roles[0].name === 'ROLE_RH'" class="form-group">
        <label for="name"><b>Name</b></label>
        <input type="text" [(ngModel)]="user.name"
        class="form-control" id="name" name="name" placeholder="Enter your name "
        required #name="ngModel">
      </div>
    </div>
    
    <button type="submit" class="btn btn-info">Modifier son profil</button>
  </form>
</div>

