<div id=levelContainer>
  <h3>Estimer un niveau pour chaque compétence</h3>
  <div style="color: grey; margin-bottom: 5px;">Un projet perso : est un projet personnel sans transaction financière</div>
  <div style="color: grey; margin-bottom: 30px;">Un projet pro : est un projet professionnel où un client vous a payé à plusieurs reprises</div>

  <div class=levelBox *ngFor="let item of inductionSkills">
      <div class=levelBoxLeft>
        <button
          pButton
          type="button"
          label="{{item.name}}"
          class="ui-button-rounded ui-button-secondary"
          >
        </button>
      </div>

      <div class=levelBoxRight>
        <p-slider
          [(ngModel)]="item.level"
          [style]="{'width':'100%'}"
          [step]="1"
          [min]="1"
          [max]="10"
          (onChange)="handleChange($event, item.id)"
        ></p-slider>
        <div style="margin-top: 10px">À titre indicatif : Niveau {{item.level}} : {{niveaux[item.level - 1]}}</div>
      </div>
  </div>
  <div>
    <button
    style="margin-top: 20px; display: inline-block"
        pButton
        type="button"
        label="Retour"
        class="ui-button-raised ui-button-secondary"
        (click)="onBack($event)"
    class="button_retour"></button>
    <button
        style="margin-top: 20px; display: inline-block ;margin-left: 2px"
        pButton
        type="button"
        label="Suivant"
        (click)="onNext($event)"
    ></button>
  </div>
</div>
