#levelContainer{
  width: 100%;
  padding: 1%;
  margin-top: 20px;

  h3 {
    margin-bottom: 30px;
  }
  
  .levelBox{
    width: 99%;
    display: block;
    margin-top: 20px;
    
    .levelBoxLeft{
      width: 100px;
      text-align: center;
      display: inline-block;
      
      vertical-align: middle;
      margin-right: 30px;
    }

    .levelBoxRight{
      width: 70%;
      min-width: 100px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.button_retour{
  background-color:grey;
}

  