<div id=levelContainer style="text-align: center;">
  <h3 style="margin: 20px 0px;">Classement global</h3>
  <div id="rank-content">

    <div id="rank-content-job">
      <input
        [(ngModel)]="lookingForWork"
        [ngModelOptions]="{standalone: true}"
        class="form-check-input"
        type="checkbox"
        id="gridCheck"
        (change)="toggleLookingForWork()"
        >
      <label class="form-check-label" for="gridCheck">
        Je recherche activement un travail
      </label>
    </div>

    <div class="rank-row" *ngFor="let dev of devs; let index = index;">
      <span tooltip="{{dev.tooltip}}" placement="top" show-delay="500">
        <div class="rank-left">
            <span class="rank-rank">#{{index + 1}}</span>
            <span class="rank-avatar"><fa-icon [icon]="faUser" [styles]="{'color': 'grey'}"></fa-icon></span>
            <span class="rank-score">({{dev.totalScore}})</span>
        </div>
        <div class="rank-fullname">{{dev.login}}</div>
      </span>
    </div>
  </div>
</div>
