#rank-content{
  
  width: 60%;
  margin: auto;

  @media screen and (max-width: 640px) {
    width: 90%;
  }

  #rank-content-job {
    margin-bottom: 15px;
  }

}

.rank-row{
  width: 300px;
  margin-top: 10px;
  margin: auto;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0px;
  
}

.rank-left {
  display: inline-block;
  width: 35%;
  .rank-rank{
    margin-right: 10px;
    font-weight: bold;
  }
  .rank-avatar{
    margin-right: 5px;
  }
  .rank-score{
    margin-right: 10px;
  }
}
.rank-fullname{
  display: inline-block;
  width: 65%;
  text-align: left;
}

